@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: #EBEDF3;
  --color-bvnk-primary: #3F53DD;
  --color-grays-text: #556877;
  --color-grays-not-quite-black: #0A1628;
  --color-grays-line-gray: #E3E8EE;
  --color-white: #FFFFFF;
  --color-status-error: #FF785F;

  /* I thought this would be off-white but Figma shows it as #FFFFFF
   * might want to change its name for clarity + update all the literals #FFFFFF in Figma to this color
   */
  --color-surfaces-cloudy-white: #FFFFFF;
}

body {
  background: var(--color-background);
}
